*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Interchangeable styles */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Playfair Display', serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-dark: #211716;
    --clr-accent: #3e1305;

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

img {
    display: block;
    max-width: 100%;
    box-shadow: var(--bs);
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    text-align: center;
}

.logo {
    max-width: 80px;
}

.logo img {
    border-radius: 50%;
}

.logo__text {
    font-family: var(--ff-secondary);
}

.nav {
    position: fixed;
    background: var(--clr-light);
    opacity: .95;
    color: var(--clr-dark);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
}

.nav__list {
    list-style: none;
    display: inline-block;
    position: sticky;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);

    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 1.1em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {top: 6px;}
.hamburger::after {bottom: 6px;}

/* Gallery */

.gallery__image {
    max-width: 300px;
    margin: 0 auto;
}

/* Footer */

